* {
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
    display: flex;
}

.link {
    text-decoration: none;
}

.bg-wrapper {
    background-image: url('../img/header-bg.jpg');
    width: 100%;
    background-position: center;
}

.introduction-wrapper {
    width: 1200px;
    margin: 0 auto;
}

.navigation {
    justify-content: space-between;
    align-items: baseline;
    @include block-options(20px auto 0, 30px 0 0 0, 1200px);
    display: flex;
    &__logo {
        margin: 0;
        &-link  {
            @include text-decor(30px,#191919);
            font-weight: 700px;
        }
    }
}

.navigation__item {
    margin-left: 55px;
    &:last-child {
        margin-left: 40px;
    }
}

.navigation__link {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    &:hover {
        color: #56cfcb;
    }
    &:after{
        content: '';
        @include block-options(10px 0 0 0 ,1.5px 0, 100%);
        display: block;
        opacity: 0;
        background-color: #56cfcb;
        position: absolute;
    }
    &:hover::after {
        opacity: 1;
        transition: opacity 1s linear;
    }
}

.introduction {
    @include block-options(150px 0 0 auto, 0 0 190px 0, 485px);
    display: block;
    &__title {
        @include text-decor(38px, white, center, 0.95);
        text-transform: capitalize;
        font-family: 'Montserrat', sans-serif;
    }
    &__info {
        @include text-decor(18px, white, left, 2.0);
        margin: 40px auto 0;
        font-family: 'NunitoSans', sans-serif;
    }
    &__btn {
        @include block-options(40px 0 0 ,20px 45px);
    display: block;
    color: white;
    border: none;
    text-transform: uppercase;
    background: #56cfcb;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
        &:hover {
            color: #191919;
        }
    }
}