<<<<<<< HEAD
// это основной серый фон во всех секциях:
$default-color: #f8f9f9;

// это бирюзовый в разных секциях:
$default-color-turquoise: #10c9c3;

// это основной черный:
$default-color-dark: #141414;

// подключение шрифтов
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Nunito+Sans:400,700');

// переменные для использования шрифтов
$font-montserrat: 'Montserrat', sans-serif;
$gont-nunito: 'Nunito Sans', sans-serif;

// переменные для толщины шрифтов
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;
=======
// это основной серый фон во всех секциях:
$default-color: #f8f9f9;

// это бирюзовый в разных секциях:
$default-color-turquoise: #10c9c3;

// это основной черный:
$default-color-dark: #141414;

// подключение шрифтов
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Nunito+Sans:400,700');

// переменные для использования шрифтов
$font-montserrat: 'Montserrat', sans-serif;
$gont-nunito: 'Nunito Sans', sans-serif;

// переменные для толщины шрифтов
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;

>>>>>>> 0ea61bf04bb46a786c7a63ff8763a7227ea4e79b
